@import "variables";

body {
  h1 {
    color: black;
    font-size: 100px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px, 50px, 0px, 50px;
  }
  hr {
    width: 20%;
    margin-bottom: 50px;
    border: 1px solid red;
  }

  #form {
    width: 80%;
    margin: 0 auto;
    display: grid;

    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas:
      "name email"
      "firstname file"
      "description description"
      "submit submit";

    .input {
      border: 0;
      border-bottom: 1px solid $grey;
      margin: 10px;
    }
    #name {
      grid-area: name;
    }
    #firstname {
      grid-area: firstname;
    }
    #email {
      grid-area: email;
    }
    #file {
      grid-area: file;
      border-bottom: 1px solid $grey;
    }
    #description {
      grid-area: description;
    }
    #submit {
      grid-area: submit;
      margin-top: 50px;
      padding: 10px;
      background-color: red;
      color: white;
      border: 0;
    }
  }
}
